:root {
  --body-background-color: #1e374d;
  --body-text-color: #94fdf8;
  --card-background-color: #253f55;
  --nav-background-color: #253f55;
  --nav-border-bottom-color: #3a5c7d;
  --nav-current-border-bottom-color: #94fdf8;
  --card-border-color: #3a5c7d;
  --down-border-left-color: #ff6b6b;
  --down-background-color: #8b1e2c;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #20bf6b;
  --tag-color: #253f55;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #ff6b6b;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #94fdf8;
  --error-button-background-color: #1e374d;
  --error-button-color: #94fdf8;
  --submit-button-border-color: #94fdf8;
  --submit-button-background-color: #1e374d;
  --submit-button-color: #94fdf8;
  --graph-opacity: 1;
  --graph-filter: none;
}
